<div class="layout-auth">
    <div class="box-auth">
        <div class="box-title">
            <h3> {{title}} </h3>
        </div>
        <div class="box-content">
            <form (ngSubmit)="doLogin()" name="loginForm" #loginForm="ngForm">
                <div class="alert alert-{{ alertClass }}" role="alert"
                  *ngIf="alert"
                >
                {{ alert }}
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email"
                        required
                        placeholder="Email" name="email"
                        #email="ngModel" [(ngModel)]="login.email"
                        class="form-control"
                        />
                    <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="invalid-feedback">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be in valid email format</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                                  required
                                  placeholder="Password" name="password"
                      #password="ngModel" [(ngModel)]="login.password"
                      class="form-control" />
                    <div
                    *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="example-full-width">
                    <md-checkbox>
                        Remember me?
                    </md-checkbox>
                    <button md-raised-button type="submit" [disabled]="loginForm.invalid">
                        Login
                    </button>
                </div>
            </form>
            <div class="example-full-width">
                Don't have account yet?
                <br />
                <a [routerLink]="['/register']">Register</a>
                or
                <a href="#">Forgot password</a>
            </div>
        </div>
    </div>
</div>
