<div id="login">
    <div id="box-login">
        <div class="box-title">
            <h3> {{title}} </h3>
        </div>
        <div class="box-content">
            <form (ngSubmit)="doLogin()" name="loginForm" #loginForm="ngForm">
                <div class="alert alert-{{ alertClass }}" role="alert"
                  *ngIf="alert"
                >
                  {{ alert }}
                </div>
                <div class="form-group">
                    <md-input-container class="example-full-width">
                        <input type="email"
                        mdInput required
                        placeholder="Email" name="email"
                        #email="ngModel"
                        [(ngModel)]="login.email"
                        class="form-control"
                        />
                    </md-input-container>
                    <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be in valid email format</div>
                    </div>
                </div>
                <div class="form-group">
                    <md-input-container class="example-full-width">
                        <input type="password"
                        mdInput required
                        placeholder="Password" name="password"
                        #password="ngModel"
                        [(ngModel)]="login.password" />
                    </md-input-container>
                    <div
                    *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="example-full-width">
                  <md-checkbox>
                      Remember me?
                  </md-checkbox>
                  <button md-raised-button type="submit" [disabled]="loginForm.invalid">
                      Login
                  </button>
                </div>
            </form>
            <br>
            <div class="example-full-width">
                Don't have account yet?
                <br />
                <a href="#">Register</a>
                or
                <a href="#">Forgot password</a>
            </div>
        </div>
    </div>
</div>
