<div id="login">
    <div id="box-login">
        <div class="box-title">
            <h3> {{title}} </h3>
        </div>
        <div class="box-content">
            <form class="example-form">
                <p>
                    <md-input-container class="example-full-width">
                        <input type="email" mdInput placeholder="Email">
                    </md-input-container>
                </p>
                <p>
                    <md-input-container class="example-full-width">
                        <input type="password" mdInput placeholder="Password">
                    </md-input-container>
                </p>
                <p>
                    <md-checkbox>
                        Remember me?
                    </md-checkbox>
                    <button md-raised-button>
                        Login
                    </button>
                </p>
            </form>
            <br>
            <p>
                Don't have account yet?
                <a href="#">Register</a>
            </p>
        </div>
    </div>
</div>