<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Home</a></li>
  <li><a href="javascript:;">Page Options</a></li>
  <li class="active">Blank Page</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Dashboard <small>Dashboard page...</small></h1>
<!-- end page-header -->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora tenetur repudiandae culpa ut optio iste possimus voluptatibus delectus laborum cumque iure, odit est odio aliquid aliquam totam natus. Beatae, officiis!
