<div class="layout-auth">
    <div class="box-auth">
        <div class="box-title">
            <h3> {{title}} </h3>
        </div>
        <div class="box-content">
            <form name="registerForm" #registerForm="ngForm">
                <div class="alert alert-{{ alertClass }}" role="alert"
                  *ngIf="alert"
                >
                  {{ alert }}
                </div>
                <div class="form-group">
                    <md-input-container class="example-full-width">
                        <input type="email"
                        mdInput required
                        placeholder="Email" name="email"
                        #email="ngModel"
                        [(ngModel)]="register.email"
                        />
                    </md-input-container>
                    <div
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">Email must be in valid email format</div>
                    </div>
                </div>
                <div class="form-group">
                    <md-input-container class="example-full-width">
                        <input type="password"
                        mdInput required
                        placeholder="Password" name="password"
                        #password="ngModel"
                        [(ngModel)]="register.password" />
                    </md-input-container>
                    <div
                    *ngIf="password.invalid && (password.dirty || password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <md-input-container class="example-full-width">
                        <input type="password"
                        mdInput required
                        placeholder="Confirmation Password" name="confirmation_password"
                        #confirmation_password="ngModel"
                        [(ngModel)]="register.confirmation_password" />
                    </md-input-container>
                    <div
                    *ngIf="confirmation_password.invalid && (confirmation_password.dirty || confirmation_password.touched)"
                    class="alert alert-danger">
                        <div *ngIf="confirmation_password.errors.required">Confirmation password is required</div>
                    </div>
                </div>
                <div class="example-full-width">
                    <button md-raised-button type="submit" [disabled]="registerForm.invalid">
                        Register
                    </button>
                </div>
            </form>
            <div class="example-full-width">
                <a [routerLink]="['/login']">Back to login</a>
            </div>
        </div>
    </div>
</div>
